extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      .revcontainer
        h2.revhead About Us
        p.revmsg Welcome to our Pharmacy Locator, your go-to resource for finding the best pharmacies around you. Our mission is to make it easy for you to locate pharmacies that offer the facilities you need, whether it’s free wifi, hot drinks, comfortable seating, or a wide range of pharmaceutical products.
      .revcontainer
        h2.revhead Our Story
        p.revmsg We started this service with a simple goal: to help people find reliable and convenient pharmacies in their area. We understand that finding the right pharmacy can make a big difference in your day-to-day life, whether you’re picking up a prescription, looking for health advice, or just need a place to relax with a cup of coffee while you wait.
      .revcontainer
        h2.revhead What We Offer
        ul.revmsg
          li Comprehensive Listings: We provide detailed information about each pharmacy, including their facilities, opening times, and customer reviews.
          li User-Friendly Search: Our easy-to-use search feature helps you quickly find pharmacies that meet your specific needs.
          li Reliable Information: We ensure that all the information on our site is up-to-date and accurate, so you can trust the recommendations you find here.
      .revcontainer
        h2.revhead Our Commitment
        p.revmsg We are committed to providing you with the best possible experience. Our team is constantly working to improve our service and add new features to make your search even easier. We value your feedback and are always here to help with any questions or concerns you may have.
        p.revhead Thank you for choosing our Pharmacy Locator. We hope you find it helpful and convenient!
